<!-- Base html page - Used as a template for all other templates -->
<!DOCTYPE html>
<html>
    <head>
<!-- Bootstrap stylesheets -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<!-- Jinja Template used for future extension in other pages -->
        {% block head %}{% endblock %}
    </head>

    <body>
<!-- Navigation bar for each page -->
        <br>
<!-- Page Header -->
        <h2 class="text-center">Search Sort</h2>
        <br>
<!-- DropDown buttons - Containing links to each of the other pages -->
        <div class="col-md-12 text-center">
            <a href="/" class="btn btn-outline-secondary" role="button" aria-pressed="true">Home</a>
            <div class="btn-group">
                <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Bubble Sort
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/bubble/explan">Info - Explanation</a>
                    <a class="dropdown-item" href="/bubble/comps">Info - Complexities</a>
                    <a class="dropdown-item" href="/bubble/enter">Test - Enter</a>
                    <a class="dropdown-item" href="/bubble/generate">Test - Generate</a>
                    <a class="dropdown-item" href="/bubble/file">Test - File</a>
                </div>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Merge Sort
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/merge/explan">Info - Explanation</a>
                    <a class="dropdown-item" href="/merge/comps">Info - Complexities</a>
                    <a class="dropdown-item" href="/merge/enter">Test - Enter</a>
                    <a class="dropdown-item" href="/merge/generate">Test - Generate</a>
                    <a class="dropdown-item" href="/merge/file">Test - File</a>
                </div>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Linear Search
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/linear/explan">Info - Explanation</a>
                    <a class="dropdown-item" href="/linear/comps">Info - Complexities</a>
                    <a class="dropdown-item" href="/linear/enter">Test - Enter</a>
                    <a class="dropdown-item" href="/linear/generate">Test - Generate</a>
                    <a class="dropdown-item" href="/linear/file">Test - File</a>
                </div>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Binary Search
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/binary/explan">Info - Explanation</a>
                    <a class="dropdown-item" href="/binary/comps">Info - Complexities</a>
                    <a class="dropdown-item" href="/binary/enter">Test - Enter</a>
                    <a class="dropdown-item" href="/binary/generate">Test - Generate</a>
                    <a class="dropdown-item" href="/binary/file">Test - File</a>
                </div>
            </div>
        </div>
        <br>
        <hr>
<!-- Jinja Template used for future extension in other pages -->
        {% block body %}{% endblock %}
    </body>

</html>
