<!-- Binary Complexities Page - Extended from base.html  -->
{% extends 'base.html' %}

{% block head %}
<!-- Title of Page -->
<title>SearchSort</title>
<style>
.center {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 30%;
    }

.textcenter {
  margin: auto;
  width: 60%;
}

</style>

{% endblock %}

{% block body %}
<!-- Header -->
<h3 class="text-center">Binary Search</h3>
<br>
<!-- Subheader -->
<h4 class="text-center">Time and Space Complexity</h4>
<br>
<p class="text-center textcenter"><i>Time Complexity</i></p>
<p class="text-center textcenter">
    Worst Case scenario time complexity can be written using big o notation
</p>
<p class="text-center textcenter">
    Binary Search: O (log (n))
</p>
<p class="text-center textcenter">
    Best Case scenario time complexity can be written using omega notation
</p>
<p class="text-center textcenter">
    Binary Search: Ω (1)
</p>
<br>
<p class="text-center textcenter"><i>Space Complexity</i></p>
<p class="text-center textcenter">
    Worst Case scenario space complexity can be written using big o notation
</p>
<p class="text-center textcenter">
    Binary Search: O (1)
</p>
<br>
<p class="text-center textcenter"><i>Time Complexities Chart</i></p>
<img class="center" src="/static/img/Big-O Complexity Chart.PNG">
<br>
{% endblock %}
