<!-- Binary File Page - Extended from base.html  -->
{% extends 'base.html' %}

{% block head %}
<!-- Title of Page -->
<title>SearchSort</title>
<style>
.center {
    margin: auto;
    width: 60%;
    }
.btncenter {
    margin: auto;
    width: 9%;
    }

</style>

{% endblock %}

{% block body %}
<!-- Header -->
<h3 class="text-center">Binary Search</h3>
<br>
<!-- Sub-headers -->
<h4 class="text-center">Algorithm in Action</h4>
<br>
<h5 class="text-center">Enter File Path and Search Item</h5>
<br>
<!-- Main form to interact with html.py -->
<form action ="/binary/file" method="POST" enctype="multipart/form-data">
    <div class="input-group input-groupt-lg center">
        <input type="text" placeholder="search item" aria-label="range" class="form-control" name="search" id="search">
<!-- File Input Form -->
        <div class="custom-file">
            <input type="file" class="custom-file-input" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" name="theFile" id="theFile">
            <label class="custom-file-label" for="inputGroupFile04">select file</label>
        </div>
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Search</button>
        </div>
    </div>
</form>
<br>
<!-- Display of the values obtained in application.py -->
<p class="text-center">File Content: <b>{{genlst}}</b></p>
<p class="text-center">Search Item: <b>{{searchItem}}</b></p>
<p class="text-center">Found: <b>{{found}}</b></p>
<p class="text-center">Index (Starting at 0): <b>{{index}}</b></p>
<p class="text-center">Time Taken (Seconds): <b>{{time}}</b></p>
<p class="text-center">Number of Comparisons: <b>{{compars}}</b></p>

{% endblock %}
