{% extends 'base.html' %}

{% block head %}
<title>SearchSort</title>
<style>
.center {
    margin: auto;
    width: 60%;
    }
.btncenter {
    margin: auto;
    width: 9%;
    }
</style>

{% endblock %}

{% block body %}
<h3 class="text-center">Bubble Sort</h3>
<br>
<h4 class="text-center">Algorithm in Action</h4>
<br>
<h5 class="text-center">Enter File Path</h5>
<br>
<form action ="/bubble/file" method="POST" enctype="multipart/form-data">
    <div class="form-group form-groupt-lg btncenter">
        <select class="btn-outline-secondary form-control" name="updown" id="updown">
            <option>Ascending</option>
            <option>Descending</option>
        </select>
    </div>
    <br>
    <div class="input-group center">
        <div class="custom-file">
            <input type="file" class="custom-file-input" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" name="theFile" id="theFile">
            <label class="custom-file-label" for="inputGroupFile04">select file</label>
        </div>
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit" id="inputGroupFileAddon04">Sort</button>
        </div>
    </div>
</form>
<br>
<p class="text-center">File Content: <b>{{cont}}</b></p>
<p class="text-center">Sorted List: <b>{{sort}}</b></p>
<p class="text-center">Time Taken (Seconds): <b>{{time}}</b></p>
<p class="text-center">Number of Comparisons: <b>{{compars}}</b></p>

{% endblock %}
