{% extends 'base.html' %}

{% block head %}
<title>SearchSort - BS</title>
<style>
.center {
    margin: auto;
    width: 60%;
    }

</style>

{% endblock %}

{% block body %}
<br>
<h2 class="text-center">Bubble Sort</h2>
<br>
<div class="col-md-12 text-center">
    <a href="/" class="btn btn-outline-secondary" role="button" aria-pressed="true">Home</a>
    <div class="btn-group">
        <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Bubble Sort
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="/bubble/explan">Info - Explanation</a>
            <a class="dropdown-item" href="/bubble/comps">Info - Complexities</a>
            <a class="dropdown-item" href="/bubble/enter">Test - Enter</a>
            <a class="dropdown-item" href="/bubble/generate">Test - Generate</a>
            <a class="dropdown-item" href="/bubble/file">Test - File</a>
        </div>
    </div>
    <div class="btn-group">
        <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Merge Sort
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Info - Explanation</a>
            <a class="dropdown-item" href="#">Info - Complexities</a>
            <a class="dropdown-item" href="#"">Test - Enter</a>
            <a class="dropdown-item" href="#">Test - Generate</a>
            <a class="dropdown-item" href="#">Test - Enter</a>
        </div>
    </div>
    <div class="btn-group">
        <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Linear Search
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Info - Explanation</a>
            <a class="dropdown-item" href="#">Info - Complexities</a>
            <a class="dropdown-item" href="#">Test - Enter</a>
            <a class="dropdown-item" href="#">Test - Generate</a>
            <a class="dropdown-item" href="#">Test - File</a>
        </div>
    </div>
    <div class="btn-group">
        <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Binary Search
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Info - Explanation</a>
            <a class="dropdown-item" href="#">Info - Complexities</a>
            <a class="dropdown-item" href="#">Test - Enter</a>
            <a class="dropdown-item" href="#">Test - Generate</a>
            <a class="dropdown-item" href="#">Test - File</a>
        </div>
    </div>
</div>
<br>
<hr>
<br>
<h4 class="text-center">Algorithm in Action</h4>
<br>
<h5 class="text-center">Enter List</h5>
<br>
<form action ="/bubble/enter" method="POST">
    <div class="input-group input-groupt-lg center">
        <input type="text" class="form-control" placeholder="unsorted list" aria-label="unsorted list" aria-describedby="button-addon2" name="numbers" id="numbers">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Sort</button>
        </div>
    </div>
</form>
<br>
<p class="text-center">Sorted List: <b>{{sorted}}</b><p>

{% endblock %}
