{% extends 'base.html' %}

{% block head %}
<title>SearchSort - BS</title>
<style>
.center {
    margin: auto;
    width: 60%;
    }

</style>

{% endblock %}

{% block body %}
<br>
<h2 class="text-center">Bubble Sort</h2>
<br>
<div class="col-md-12 text-center">
    <a href="/" class="btn btn-outline-secondary" role="button" aria-pressed="true">Home</a>
    <a href="#" class="btn btn-outline-secondary" role="button" aria-pressed="true">Merge</a>
    <a href="#" class="btn btn-outline-secondary" role="button" aria-pressed="true">Linear</a>
    <a href="#" class="btn btn-outline-secondary" role="button" aria-pressed="true">Binary</a>
</div>
<br>
<hr>
<br>
<h4 class="text-center">Algorithm in Action</h4>
<form action ="/bubble" method="POST">
    <div class="input-group input-groupt-lg center">
        <input type="text" class="form-control" placeholder="Unsorted List" aria-label="Unsorted List" aria-describedby="button-addon2" name="numbers" id="numbers">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Sort</button>
        </div>
    </div>
</form>
<p class="text-center">Sorted List: <b>{{sorted}}<b><p>
<br>
<hr>
<br>
<h4 class="text-center">Explanation</h4>
<br>
<hr>
<br>
<h4 class="text-center">Time and Space Complexity</h4>
{% endblock %}
