{% extends 'base.html' %}

{% block head %}
<title>SearchSort</title>
<style>
.center {
    margin: auto;
    width: 60%;
    }
.btncenter {
    margin: auto;
    width: 9%;
    }

</style>

{% endblock %}

{% block body %}
<br>
<h2 class="text-center">Bubble Sort</h2>
<br>
<div class="col-md-12 text-center">
    <a href="/" class="btn btn-outline-secondary" role="button" aria-pressed="true">Home</a>
    <div class="btn-group">
        <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Bubble Sort
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="/bubble/explan">Info - Explanation</a>
            <a class="dropdown-item" href="/bubble/comps">Info - Complexities</a>
            <a class="dropdown-item" href="/bubble/enter">Test - Enter</a>
            <a class="dropdown-item" href="/bubble/generate">Test - Generate</a>
            <a class="dropdown-item" href="/bubble/file">Test - File</a>
        </div>
    </div>
    <div class="btn-group">
        <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Merge Sort
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Info - Explanation</a>
            <a class="dropdown-item" href="#">Info - Complexities</a>
            <a class="dropdown-item" href="#"">Test - Enter</a>
            <a class="dropdown-item" href="#">Test - Generate</a>
            <a class="dropdown-item" href="#">Test - Enter</a>
        </div>
    </div>
    <div class="btn-group">
        <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Linear Search
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Info - Explanation</a>
            <a class="dropdown-item" href="#">Info - Complexities</a>
            <a class="dropdown-item" href="#">Test - Enter</a>
            <a class="dropdown-item" href="#">Test - Generate</a>
            <a class="dropdown-item" href="#">Test - File</a>
        </div>
    </div>
    <div class="btn-group">
        <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Binary Search
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Info - Explanation</a>
            <a class="dropdown-item" href="#">Info - Complexities</a>
            <a class="dropdown-item" href="#">Test - Enter</a>
            <a class="dropdown-item" href="#">Test - Generate</a>
            <a class="dropdown-item" href="#">Test - File</a>
        </div>
    </div>
</div>
<br>
<hr>
<br>
<h4 class="text-center">Algorithm in Action</h4>
<br>
<h5 class="text-center">Generate Random List</h5>
<br>
<form action ="/bubble/generate" method="POST">
    <div class="form-group form-groupt-lg btncenter">
        <select class="btn-outline-secondary form-control" name="updown" id="updown">
            <option>Ascending</option>
            <option>Descending</option>
        </select>
    </div>
    <br>
    <div class="input-group input-groupt-lg center">
        <input type="text" placeholder="amount of random numbers" aria-label="amount" class="form-control" name="amount" id="amounts">
        <input type="text" placeholder="range of random numbers" aria-label="range" class="form-control" name="range" id="range">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Generate</button>
        </div>
    </div>
</form>
<br>
<p class="text-center">Generated List: <b>{{genlst}}</b></p>
<p class="text-center">Sorted List: <b>{{sort}}</b></p>
<p class="text-center">Time Taken (Seconds): <b>{{time}}</b></p>
<p class="text-center">Number of Comparisons: <b>{{compars}}</b></p>

{% endblock %}
