<!-- Home Page - Extended from base.html  -->
{% extends 'base.html' %}

{% block head %}
<!-- Title of Page -->
<title>SearchSort</title>
<style>
.center {
    margin: auto;
    width: 60%;
    }
    .textcenter {
      margin: auto;
      width: 60%;
    }

</style>

{% endblock %}

{% block body %}
<!-- Sub-header -->
<h4 class="text-center">Description</h4>
<br>
<p class="text-center textcenter">
  Welcome! SortSearch is a website that will help you learn the theory behind sorting and searching algorithms. For each of the featured algorithms, you will be able to find the explanation behind the algorithm, the time and space complexity of the algorithm and different implementations of the algorithm. Enjoy!
</p>
{% endblock %}
