<!-- Merge Enter Page - Extended from base.html  -->
{% extends 'base.html' %}

{% block head %}
<!-- Title of Page -->
<title>SearchSort</title>
<style>
.center {
    margin: auto;
    width: 60%;
    }
.btncenter {
    margin: auto;
    width: 9%;
    }f

</style>

{% endblock %}

{% block body %}
<!-- Header -->
<h3 class="text-center">Merge Sort</h3>
<br>
<!-- Sub-header -->
<h4 class="text-center">Algorithm in Action</h4>
<br>
<h5 class="text-center">Enter List</h5>
<br>
<!-- Form used to interact with application.py -->
<form action ="/merge/enter" method="POST">
<!-- Button used to determine direction -->
    <div class="form-group form-groupt-lg btncenter">
        <select class="btn-outline-secondary form-control" name="updown" id="updown">
            <option>Ascending</option>
            <option>Descending</option>
        </select>
    </div>
    <br>
    <div class="input-group input-groupt-lg center">
        <input type="text" class="form-control" placeholder="unsorted list" aria-label="unsorted list" aria-describedby="button-addon2" name="numbers" id="numbers">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Sort</button>
        </div>
    </div>
</form>
<br>
<!-- Jinja used to display values obtained in application.py -->
<p class="text-center">Unsorted List: <b>{{unsorted}}</b></p>
<p class="text-center">Sorted List: <b>{{sorted}}</b></p>
<p class="text-center">Time Taken (Seconds): <b>{{time}}</b></p>
<p class="text-center">Number of Comparisons: <b>{{compars}}</b></p>
{% endblock %}
